.mainCon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundCon {
    display: block;
    position: absolute;
    z-index: -1;
    width: 800px;
    height: 1000px;
    border-radius: 70px;
    background: #14cf8c;
    opacity: 0.2;
    top: -400px;
    bottom: 0;
    left: 500px;
    right: 0;
    transform: rotate(60deg);
}